.Rproj.user
.Rhistory
.RData
.Ruserdata
/Secondary files/pbi data analysis.pbix
/Secondary files/EMPLEADOS.xlsx
/Secondary files/EMPLEADOS - edit.xlsx
/Secondary files/pbi data analysis.pbix
/Secondary files/~$EMPLEADOS - edit.xlsx
